/*.s1 是类选择器， 叫s1选择器*/

.s1 {
	color:green;
	font-size:30px;
	text-decoration:underline;
}

.s2{
	color:yellow;
	font-size:12px;
}

.s3{
	color:blue;
	font-syle:italic;
}

.s4{
	color:green;
	font-weight:bold;
}

.s5{
	color:#9C3131;
	font-size:12px;
}